<div class="row top-row">			
<%= form_for(@raffle) do |f| %>
  <div class="row">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.label :pickup_location %>
      <%= f.text_field :pickup_location %>
    </div>


    <div>
      <%= f.label :charity_name %>
      <%= f.select :charity_name, [['horrible', 1], ['poor', 2], ['mediocre', 3], ['good', 4], ['great', 5]]%>
    </div>

    <div>
      <%= f.label :picture_url %>
    </div>

    <div>
      <%= f.submit "Add an item", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
</div>
