  
      
      
      <div class="row top-row">
        <div class="col-6 col-offset-3  centered-content">
          <h2>Raffle Your Stuff, Donate To Charity</h2>
          <hr>
        </div>
      </div>
      
      <div class="row row-gap-10">
        <%= form_for @raffle, :html => { :multipart => true } do |f| %>
     
        <div class="col-4 col-offset-4 well">
        
          <div class="row row-gap-10">
            <div class="col-6" >
                  <%= f.file_field :picture %>
                  <!--   <div class="col-6" >
                      <button type="button" class="btn btn-info">Select Image</button>
                  </div> -->
            </div>
            
            <div class="col-6" >
              <% if f.object.picture.url %>
                <%= image_tag(f.object.picture.url, :class => "full-width-content",
                  alt: "raffle_full_logo.jpg") %>
              <% else %>
              <%= image_tag('../assets/kidsBicycle.jpg', :class => "full-width-content") %> 
              <% end %>
            </div>
          </div>
          
          <div class="row row-gap-10">
            <div class="col-6">
              <h5> <%= f.label "Item name" %> </h5>
            </div>
            <div class="col-6">
                   <%= f.text_field :name %> 
            </div>
                        
          </div>
          
          <div class="row row-gap-10">
            <div class="col-6">
              <h5> <%= f.label :description %></h5>
            </div>   
            <div class="col-6">
                   <%= f.text_field :description %>
            </div>
            
          </div>
          
          <div class="row row-gap-10">
            <div class="col-6">
              <h5><%= f.label :pickup_location %></h5>
            </div>   
            <div class="col-6">
                  <%= f.text_field :pickup_location %>
            </div>
            
          </div>

          <div class="row row-gap-10">
            <div class="col-6">
               <h5><%= f.label "Select Date" %></h5>
            </div>
            
            <div class="col-6">
                <button type="button" class="btn btn-info full-width-content">Select Date</button>
            </div>
          </div>

          <div class="row row-gap-10">
            <div class="col-6">
              <h5><%= f.label "Charity" %></h5>
            </div>
            <% if f.object.picture_url %>
              <div class="col-6">
               <%= f.select :charity_name, [['Charity 1', 1], ['Charity 2', 2], ['Charity 3', 3]]%>      
            </div>
            <% else %>

            <div class="col-6">
              <div class="dropdown ">
                <button class="btn btn-info dropdown-toggle full-width-content" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Proceeds go to
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Charity 1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Charity 2</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Charity 3</a></li>
                </ul>
              </div>          
            </div>
            <% end %>

          </div>
          
          
        </div>
      </div>
    
      
      <div class="row" >
        <div class="col-2 col-offset-4 paypal-col">
          <%= f.submit "Add an item", class: "btn btn-info form-control", style: "margin-top: 20px;" %>
        </div>
        
        <div class="col-2 paypal-col">
          <button type="button" class="btn btn-info form-control" style="margin-top: 20px;" >Cancel</button>
        </div>          
      </div>
      
    <% end %>      
      
      
    
  

